@font-face {
    font-family: Forma;
    src: url('C:/Users/lilia/Downloads/forma-djr-banner-cufonfonts/FormaDJRDeck-Medium-Testing.ttf');
}

@font-face {
    font-family: Forma-Light;
    src: url('C:/Users/lilia/Downloads/forma-djr-banner-cufonfonts/FormaDJRBanner-Light-Testing.ttf');
}