@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: $font-primary;
    font-size: $font-bold;
    box-sizing: border-box;
}
.bg_black{
    background-color: $bg-black;
}

header{
    max-width: 1300px;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
}

h2{
    font-size: 35px;
    font-weight: $font-light;
}

h3{
    margin: 4px 10px;
}

h4{
    color: white;
}
strong{
    color: $font-distinct;
}
p{
    font-size: 14px;
    font-weight: $font-light;
}