footer {
  background-color: $bg-white;

  .footer__box {
    p {
      font-size: 11px;
    }

    padding: 8px;
    margin: auto;

    &__info {
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: $font-medium;
      }

      &__social_network {
        text-align: center;

        &__logo {
          display: flex;
          justify-content: space-between;

          a {
            i {
              font-size: 27px;
            }

            i:hover,
            i:active {
              color: $font-distinct;
            }
          }
        }
      }
    }

    &__droit {
      p {
        text-align: center;
        font-size: 12px;
        margin: 7px;

        a {
          font-weight: $font-medium;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  footer {
    .footer__box {
      &__info {
        p {
          font-size: 14px;
        }

        &__social_network {
          &__logo {
            a {
              i {
                font-size: 35px;
              }
            }
          }
        }
      }

      &__droit {
        p {
          font-size: 14px;
        }
      }
    }
  }
}