header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: auto;
  figure {
    width: 45px;
    a {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  nav {
    a {
      font-size: 13px;
      background-color: $bg-white;
      padding: 6px 13px;
      border-radius: 100px;
      color: $font-light-black;
    }
    a:active,
    a:hover {
      color: $font-white;
      background-color: $bg-distinct;
    }
  }
}

@media (min-width: 700px) {
  header {
    figure {
      width: 60px;
    }
    nav {
      a {
        font-size: 15px;
      }
    }
  }
}
