header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin:auto;
  figure {
    width: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    font-size: 13px;
    background-color: $bg-white;
    padding: 5px 15px;
    border-radius: 100px;
    color: $font-light-black;
  }
  a:active,
  a:hover {
    color: $font-white;
    background-color: $bg-distinct;
  }
}
