.banner{
    padding: 10px 15px;
    height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../assets/ordi.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        color: $font-white;
        margin-top: 35px;
        font-size: 22px;
    }
    .logo_principal{
        width: 100%;
        max-width: 600px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .fleche{
        width: 45px;
        position: relative;
        top: 25px;
        img{
            width: 100%;
            height: 100%;
        }
    }

}

.description{
    background-color: $bg-black;
    max-width: 600px;
    margin: auto;
    padding: 40px 10px ; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: $font-white;
        font-weight: $font-bold;
    }
    p{
        color: $font-white;
    }
    &__box{
        display: flex;
        margin: 20px auto;
        .top_fleche_bas{
            width: 30px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }  
        &__challenge{
            h3{
                font-size: 30px;
                -webkit-text-stroke: 0.4px white;
                color: transparent;
            }
            .white{
                color: $font-white;
            }
        }
        .bottom_fleche_bas{
            width: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .question{
        font-size: 15px;
        font-weight: $font-medium;
    }
    .double_fleche{
        margin-top: 20px;
        width: 20px;
        img{
            width: 100%;
        }
    }
    a{
        margin-top: 25px;
        font-size: 16px;
        font-weight: $font-bold;
        background-color: transparent;
        padding: 7px 20px;
        border-radius: 100px;
        color: $font-white;
        border: solid 1.5px $font-white;
    }
}