#discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        url("C:/Users/lilia/Desktop/fishEye_v1/frontend/assets/image.jpg");
    background-repeat: repeat;
    background-color: #cccc;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#description {
    background-color: black;
}